/*reset margin and padding*/ 
*{
    padding: 0%;
    margin: 0%;
}

/* Index Page */

nav{
    position: sticky;
    top: 0;
    z-index: 2;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
    overflow: hidden;
    text-align: center;
    
}

.navbar img{
    float: left;
    width: 50px;
    margin: 5px 10px;
    
}

.navbar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: left;
}

.navbar li{
    float: left;
}

.navbar li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar li a:hover{
    background-color: #ddd;
    color: black;
}

.login_sig-in{
    float: right;
}

/* Content */
.content{
    background-color: beige;
    position: relative;
    top: 40px;
}

/* Content */
.content1{
    background-color: brown;
    position: relative;
    left: 40px;
    width: 500px;
}

/* Content */
.content2{
    background-color: coral;
    position: relative;
    left: 60px;
    width: 500px;
}

/* Product Page Area */
.main{
    background-color: #fdffd0;
    margin: 0px 10%;
    text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}


/* Product Basics Style */
#basic_content{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: antiquewhite;
    margin: 0px 20%;
}

.product_price{
    display: flex;
    flex-wrap: wrap;
    background-color: brown;
    
}

.product_img{
    display: block;
    min-width: 100px;
    max-width: 300px;
}

.basic_informations{
    background-color: chartreuse;
    
}


/* Product Description Style */


.nav_description{
    background-color: gray;
    position: sticky;
    top: 55px;
    z-index: 1;
}

.nav_description ul{
    display: flex;
}

.nav_description li {
    list-style-type: none;
    display: inline-flex;
    font-size: 15px;
    background-color: #404040;
    margin: 5px 0px 5px 5px;
}

.nav_description li > a{
    color: aliceblue;
    text-decoration: none;
    display: block;
    padding: 14px 16px;
}

.nav_description li a:hover{
    background-color: #ddd;
    color: black;
}

#description_content{
    background-color: aquamarine;
    clear: left;
    
}

.description{
    background-color: burlywood;
    margin: 0px 10px 0px 20px;
}

/*
.content2{
    background-color: darkgray;
    position: relative;
    left: 60px;
    width: 500px;
}
*/


/* Comments Session Style */
#comments_content{
    background-color: darkseagreen;
}

.comments{
    background-color: cadetblue;
    margin: 0px 10px 0px 20px;
}

/*
.content2{
    background-color: darkgray;
    position: relative;
    left: 60px;
    width: 500px;
}
*/
