/*reset margin and padding*/ 
*{
    padding: 0%;
    margin: 0%;
}

/* Index Page */
/* Header Style */
header{
    background-color: aqua;
    text-align: center;   
}

nav{
    background-color: blue;
    text-align: center;
}

/* Content */
.content{
    background-color: beige;
    position: relative;
    top: 40px;
}

/* Content */
.content1{
    background-color: brown;
    position: relative;
    left: 40px;
    width: 500px;
}

/* Content */
.content2{
    background-color: coral;
    position: relative;
    left: 60px;
    width: 500px;
}

/* Product Page Area */
.main{
    background-color: #fdffd0;
    margin: 0px 10%;
    text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}


/* Product Basics Style */
.basic_content{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: antiquewhite;
    margin: 0px 20%;
}

img{
    display: block;
    min-width: 100px;
    max-width: 300px;
}

.basic_img{
    position: relative;
    background-color: blueviolet;
}

.basic_informations{
    background-color: chartreuse;
    margin-left: 20px;
}


/* Product Description Style */

ul{
    display: flex;
}
li {
    list-style-type: none;
    display: inline-flex;
    padding: 10px 15px;
    font-size: 15px;
    background-color: #404040;
    margin-right: 2px;
}

li > a{
    color: aliceblue;
    text-decoration: none;
}

li:hover{
    color: black;
    background-color: brown;
    font-style: italic;
}

.nav_description{
    background-color: gray;
}

.description_content{
    background-color: aquamarine;
    clear: left;
    
}

.description{
    background-color: burlywood;
    margin: 0px 10px 0px 20px;
}

/*
.content2{
    background-color: darkgray;
    position: relative;
    left: 60px;
    width: 500px;
}
*/


/* Comments Session Style */
.comments_content{
    background-color: darkseagreen;
}

.comments{
    background-color: cadetblue;
    margin: 0px 10px 0px 20px;
}

/*
.content2{
    background-color: darkgray;
    position: relative;
    left: 60px;
    width: 500px;
}
*/
