/*reset margin and padding*/ 
*{
    padding: 0%;
    margin: 0%;
}

.header{
    background-color: aqua;
    left: 0px;
    right: 0px;
    position:  fixed;
    height: 60px;
    text-align: center;
    top: 0%;    
}

.content{
    background-color: beige;
    position: relative;
    top: 40px;
}

.content1{
    background-color: brown;
    position: relative;
    left: 40px;
    width: 500px;
}

.content2{
    background-color: coral;
    position: relative;
    left: 60px;
    width: 500px;
}
